
<div class="container" id="containerb">

<div>
<%= @type.name %>

</div>

<br>

<div>
	<%= link_to "Add another category", new_type_path %> | <%= link_to "Back to all categories", types_path %>
</div>

</div>