

<div class="container" id="containerb">

<p class="attn"> Project Photos </p>

<hr>
<br>

<div>
	<% @project.photos.each do |p| %>

	<%= image_tag(p.asset.url(:square)) %>

	<% end %>
</div>

</br>

<div>
	<%= link_to 'Back', :back, class: "btn btn-default btn-sm linktext" %>
</div>


</div>
