

<div class="container" id="containerb">

<p class="attn"> Show Project Photos </p>

<hr>
<br>


<h3> Hello again! </h3>

<% @project.photos.each do |p| %>

<%= image_tag(p.asset.url(:square)) %>

<% end %>

</div>

