

/* Header */

.navbar #logo {
  
  float: left;
  padding-top: 25px;
  padding-bottom: 9px;
  margin-left: 35px;
  font-size: 24px;
  text-transform: uppercase;
  color: #00aebd;
  letter-spacing: 1px;
 
}

#logo:hover {
  color: #e5e5e5;
  text-decoration: none;
}

/* navbar */

.navbar {

background-color: transparent;
background: transparent;
box-shadow: none !important;
border: none;

}

.nav {
  
  padding-top: 20px;
  padding-right: 35px;

}

.navbar-right > li > a {

  color: #00aebd;

}

.nav > li > a:hover {

  background-color: transparent !important;
  font-weight: bold;

}


/* Carousel Shadow */

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;

}

.glyphicon-chevron-right {

  color: #fff;
  box-shadow: none;
  Shadow: none;
  background-image:none !important;
}



.border {

width: 175px;
border: solid 1px #f5f5f5;
margin: 5px;

}



.caption > span {

  font-weight: 300;
}

#container {

margin-top: 0px;
padding-top: 0px;

}

.button-group {

float: right;
margin-right: 0px;
margin-top: 0px;


}

@import "bootstrap-sprockets";

@import "bootstrap";




/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 0px;
}





