

<div class="container-fluid" id="formcontainer">

<%= link_to "Launch", "http://distilleryimage6.ak.instagram.com/ba70b8e8030011e3a31b22000a1fbb63_7.jpg",  id: "mylink" %>









				
</div>



<script>


$('#mylink').ekkoLightbox(options);

$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
}); 

</script>