


<div class="container" id="containerb">

<p> Clientele </p>


  <% @clients.each do |client| %>

 <div class="item row">
  <%= image_tag client.logo.url(:thumb) %>
 </div>

<% end %>



</div>

<script>
// initialize Isotope
var $container = $('#containerb').isotope({
  itemSelector: '.item',
   masonry: {
    columnWidth: 50
  }
});
// layout Isotope again after all images have loaded
$container.imagesLoaded( function() {
  $container.isotope('layout');
});

</script>


