<div id="carousel1" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
    <li data-target="#carousel1" data-slide-to="1"></li>
  </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("NTP-4.jpg") %>
      </div>
      <div class="item">
        <%= image_tag("NTP-5.jpg")  %>

        </div> 
      </div> <!-- Carousel-Inner -->
    
    <!-- Carousel Navigation -->
    <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </a> 

    </div> <!-- Carousel16c -->

<script>
$('.carousel1').carousel()
</script>
</body>
