                 <div id="filters" class="button-group">
  <button type="button" class="btn btn-link" data-filter="*">All</button>
  <button type="button" class="btn btn-link"data-filter=".type1">Fashion</button>
  <button type="button" class="btn btn-link"data-filter=".type2">Architectural</button>
  <button type="button" class="btn btn-link" data-filter=".type3">Portrait</button>
  <button type="button" class="btn btn-link" data-filter=".type4">Photojournalism</button>
  <button type="button" class="btn btn-link" data-filter=".type5">Industrial</button>
</div>

<script>

    var $container = $('#container');
    // init
    $container.isotope({
      // options
      itemSelector: '.border',
      layoutMode: 'masonry'
    });

    $container.imagesLoaded( function() {
  $container.isotope('layout');
});

    // filter items on button click
    $('#filters').on( 'click', 'button', function() {
      var filterValue = $(this).attr('data-filter');
      $container.isotope({ filter: filterValue });
    });

</script>

<script> 

$(document).ready(function() {
  $('.image-link').magnificPopup({type:'image'});
});

</script>

